
    main{
        min-height: 100vh;
        font-family: 'Space Grotesk', sans-serif;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 6rem;
        place-items: center;
        color: hsl(278, 68%, 11%);
        font-weight: 500;
    }

@media screen and (max-width: 1170px){
    main{
        grid-template-columns: 1fr;
        gap: 0rem;
    }
    .content{
        margin: 0 auto;
        width: 90%;
        position: relative;
        top: -3rem;
    }
    .cards{
        margin-top: 1.5rem;
    }

}
