:root {
  font-size: 1.05rem;
  background-color: hsl(0, 0%, 100%);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
*{
  box-sizing: border-box;
}
body{
  margin: 0;
  display: flex;
  background-image: url(./assets/images/bg-main-desktop.png);
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}
