:root {
  font-size: 1.05rem;
  background-color: hsl(0, 0%, 100%);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
*{
  box-sizing: border-box;
}
body{
  margin: 0;
  display: flex;
  background-image: url(./assets/images/bg-main-desktop.png);
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}



@media screen and (max-width: 580px)  {
  body{
    background-image: url(./assets/images/bg-main-mobile.png);
    background-size: contain;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 580px) and (max-width: 1170px)  {
  body{
    background-image: url(./assets/images/bg-main-mobile.png);
    background-size: 100em 22em;
    background-repeat: no-repeat;
  }
}
