#front, #back{
    position: relative;
}
p.white-color{
    color: hsl(0,0%,100%);
}
#front{
    left: -5rem;
}
#card-owner, #card-number, #expiration-date, #logo, #cvc{
    position: absolute;
}
#logo{
    top: 2rem;
    left: 1.5rem;
}
#card-owner{
    top: 10.5rem;
    left: 1.5rem;
    font-size: 1.05rem;
}
#card-number{
    top: 7rem;
    left: 1.5rem;
    letter-spacing: 0.2rem;
    font-size: 1.4rem;
}
#expiration-date{
    top: 10.5rem;
    left: 20.5rem;
    font-size: 1.05rem;
}

#cvc{
    top: 5.7rem;
    left: 21.5rem;
    font-size: 0.935rem;
}

#back{
    margin-top: 1.5rem;
}
