main{
    position: absolute;
    top: 8rem;
    left: 8rem;
    min-height: 100vh;
    font-family: 'Space Grotesk', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: hsl(278, 68%, 11%);
    font-weight: 500;
    margin-right: 1rem;
}
